<!DOCTYPE html>
<html>
<head>
<title> about us</title>
</head>

<body>
<body style="background-color:#D3D3D3;">
  


<table width =80% align="center" bgcolor =#800080 ><tr>


<tr>
<td width = 10% > 
<a style="color:white" class="navbar-brand" href="{{url_for('main_page')}}">Home</a></td>
<td ><a style="color:white" href="{{url_for('logmein')}}">Login</a></td>
<td width = 10% align="right">
<a style="color:white" href="#">About</a></td>

</tr>
<td colspan="3" align="center"><img src="{{url_for('static', filename = 'logo.jpg')}}" width="250" height="150"></td></tr>
<table>

 <p align="center"> 

 Wise Words website animates your soul, gives you motivation and advices to continue your life enthusiastically. 
<br>
All of us use others' ideas to build on challenge or disagree with, here you can find what you're thinking of.
<br>
Looking for quotes from your favourite topics, our quotes are the best.



 </p>


</body>
</html>

