<!DOCTYPE html>
<html>
<head>
<title> Profile</title>
</head>

<body>
<body style="background-color:#D3D3D3;">
  


<table width =80% align="center" bgcolor =#800080 ><tr>


<tr>
<td width = 10% > 
<a style="color:white" class="navbar-brand" href='{{url_for("main_page")}}'>Home</a></td>
<td ><a style="color:white" href="#">Login</a></td>
<td width = 10% align="right">
<a style="color:white" href='{{url_for("aboutus")}}'>About</a></td>
<td width = 10% align="right">
<a style="color:white" href='{{url_for("signup")}}'>Sign up</a></td>
</tr>
<td colspan="3" align="center"><img src="{{url_for('static', filename = 'logo.jpg')}}" width="250" height="150"></td></tr>
<table>
<p>&nbsp;</p>

<style>

input[type=text], input[type=password] {width: 30%; padding: 1%; margin:1%; align-items: left;}

button {background-color: #800080; color: white; padding: 1%;margin: 1%;width: 15%; align-items: center}

</style>

<body>
 <div class="container" align="center">
 <form action = "{{url_for('login')}}" method = 'post' >
    <label><b>Email   </b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="email" required>
    <br>
    <label><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="password" required>
    
    <br>

   <button type="submit">Login</button>
    </form>
  </div>

  <div  align="center" >
    <button type="button" class="cancelbtn" >Cancel</button>
  </div>
</form>


</body>
</html>
