<!DOCTYPE html>
<html>

<head>
<title> Wise Words website </title>
</head>



<body>
<body style="background-color:#D3D3D3;">




<table width =80% align="center" bgcolor =#800080 ><tr>


<tr>
<td width = 10% > 
<a style="color:white" class="navbar-brand" href="#">Home</a></td>
<td ><a style="color:white" href="{{url_for('logmein')}}">Login</a></td>
<td width = 10% align="right">
<a style="color:white" href="{{url_for('aboutus')}}">About</a></td>
</tr>
<td colspan="3" align="center"><img src="{{url_for('static', filename = 'logo.jpg')}}" width="250" height="150"></td></tr>
<table>

<p>&nbsp;</p>
<p>&nbsp;</p>


 <table width = 90% align="center">
 <tr>
 <td width = 30%><img  src="{{url_for('static', filename = 'i1.jpg')}}" width="360" height="290"/></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i2.jpg')}}" width="360" height="290" /></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i3.jpg')}}" width="360" height="290" /></td></tr></table>

 <table width = 90% align="center">
 <tr>
 <td width = 30%><img  src="{{url_for('static', filename = 'i4.jpg')}}" width="360" height="290"/></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i5.jpg')}}" width="360" height="290" /></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i6.jpg')}}" width="360" height="290" /></td></tr></table>

 <table width = 90% align="center">
 <tr>
 <td width = 30%><img  src="{{url_for('static', filename = 'i7.jpg')}}" width="360" height="290"/></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i8.jpg')}}" width="360" height="290" /></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i9.jpg')}}" width="360" height="290" /></td></tr></table>

 <table width = 90% align="center">
 <tr>
 <td width = 30%><img  src="{{url_for('static', filename = 'i10.jpg')}}" width="360" height="290"/></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i11.jpg')}}" width="360" height="290" /></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i12.jpg')}}" width="360" height="290" /></td></tr></table>

 <table width = 90% align="center">
 <tr>
 <td width = 30%><img  src="{{url_for('static', filename = 'i13.jpg')}}" width="360" height="290"/></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i14.jpg')}}" width="360" height="290" /></td>
 <td width = 30%><img  src="{{url_for('static', filename = 'i15.jpg')}}" width="360" height="290" /></td></tr></table>
</body>
</html>


        