<!DOCTYPE html>
<html>
<head>
<title> Profile</title>
</head>

<body>
<body style="background-color:#D3D3D3;">
  


<table width =80% align="center" bgcolor =#800080 ><tr>


<tr>
<td width = 10% > 
<a style="color:white" class="navbar-brand" href="mainpage.html">Home</a></td>
<td ><a style="color:white" href="profile.html">profile</a></td>
<td width = 10% align="right">
<a style="color:white" href="aboutus.html">About</a></td>
<td width = 10% align="right">
<a style="color:white" href="signup.html">Sign up</a></td>
</tr>
<td colspan="3" align="center"><img src="logo.jpg" width="250" height="150"></td></tr>
<table>

<p>&nbsp;</p>

<style>

input[type=text], input[type=password] {width: 25%; padding: 1%; margin:1%; align-items: left;}

button {background-color: #800080; color: white; padding: 1%;margin: 1%;width: 50%; align-items: left}

</style>

<body>
 <div class="container" align="center">
    <label><b>Name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>

     <label><b>Last name</b></label>
    <input type="text" placeholder="Enter last name" name="lastname" required>
    <br>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

   

        
    <button type="submit">Sign up</button>
  </div>

  <div class="container" align="center" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" >Cancel</button>
  </div>
</form>